*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 60px;
}
.box{
    height: 50vh;
    background-color: aqua;
}

.divider{
    height: 80px;
    text-align: center;
}
h3{
    font-size: 50px;
    color: blue;
}
.container{
    border: 2px solid black;
}
.box-example{
    height: 150px;
    background-color: coral;
}

/* three content css */
.container-fluid{
    border: 2px dotted teal;
}